# The aim of the project is to aggregate the Nigeria car dataset to answer the following questions
* What is the most expensive Automatic car (show car name and model make) with a mileage of less than 50000.
* Which car make has the highest average price? 
* Select the row with a price at the 76th percentile score.
 
## The dataset was gotten from this link below:[link](https://www.kaggle.com/datasets/segunadedipe/nigerian-car-prices)

In [1]:
#importing the necessary libraries
import pandas as pd
import seaborn as sns
import matplotlib 
from matplotlib import pyplot as plt
import numpy as np

In [2]:
car_df=pd.read_csv('Nigerian_Car_Prices.csv')#read in the dataset as a pandas dataframe

In [3]:
car_df.head()#visualizing first 5 rows of the dataset

,Unnamed: 0,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price,Build
0,0,Toyota,2007.0,Nigerian Used,166418.0,2400.0,Petrol,Automatic,"3,120,000",NaN
1,1,Lexus,NaN,NaN,138024.0,NaN,NaN,Automatic,"5,834,000",NaN
2,2,Mercedes-Benz,2008.0,Nigerian Used,376807.0,3000.0,Petrol,Automatic,"3,640,000",NaN
3,3,Lexus,NaN,NaN,213362.0,NaN,NaN,Automatic,"3,594,000",NaN
4,4,Mercedes-Benz,NaN,NaN,106199.0,NaN,NaN,Automatic,"8,410,000",NaN

## The data cleaning stage

In [4]:
#The column names with spaces in between them are changed to underscore
new_columns=[]
for i in car_df.columns:
    if ' ' in i:
        colums=i.replace(' ','_')
        new_columns.append(colums)
    else:
        new_columns.append(i)
new_columns

['Unnamed:_0',
 'Make',
 'Year_of_manufacture',
 'Condition',
 'Mileage',
 'Engine_Size',
 'Fuel',
 'Transmission',
 'Price',
 'Build']

In [5]:
car_df.columns=new_columns#the dataset column name is changed to the new column names
car_df.columns

Index(['Unnamed:_0', 'Make', 'Year_of_manufacture', 'Condition', 'Mileage',
       'Engine_Size', 'Fuel', 'Transmission', 'Price', 'Build'],
      dtype='object')

In [6]:
car_df.shape

(4095, 10)

In [7]:
car_df.describe()

        Unnamed:_0  Year_of_manufacture       Mileage    Engine_Size
count  4095.000000          3617.000000  4.024000e+03    3584.000000
mean   2047.000000          2007.898535  1.825337e+05    3274.976562
std    1182.269005             4.300126  2.109233e+05    7693.489588
min       0.000000          1992.000000  1.000000e+00       3.000000
25%    1023.500000          2005.000000  1.020640e+05    2000.000000
50%    2047.000000          2008.000000  1.613525e+05    2500.000000
75%    3070.500000          2011.000000  2.319522e+05    3500.000000
max    4094.000000          2021.000000  9.976050e+06  371000.000000

In [8]:
car_df.isnull().sum()#This shows that some columns has some missing or null values

Unnamed:_0                0
Make                      0
Year_of_manufacture     478
Condition               479
Mileage                  71
Engine_Size             511
Fuel                    488
Transmission             20
Price                     0
Build                  2968
dtype: int64

In [9]:
car_df['Year_of_manufacture'].fillna(0,inplace=True)#the missing values in year of manufacture column is filled with Zero

In [10]:
car_df['Condition'].fillna('None',inplace=True)#the missing values in Condition column is filled with none

In [11]:
car_df['Mileage'].fillna(car_df['Mileage'].mean(),inplace=True)#the missing values in Mileage column is filled with the mean value of the column

In [12]:
car_df.dtypes #checks the type of each column in the dataframe

Unnamed:_0               int64
Make                    object
Year_of_manufacture    float64
Condition               object
Mileage                float64
Engine_Size            float64
Fuel                    object
Transmission            object
Price                   object
Build                   object
dtype: object

In [14]:
#replace the , in the price column with no space
new_price=[]
for i in car_df['Price']:
    new_i=int(i.replace(',',''))
    new_price.append(new_i)

new_price

[3120000,
 5834000,
 3640000,
 3594000,
 8410000,
 5554000,
 3706000,
 8410000,
 6506000,
 4000000,
 8970000,
 3034000,
 3818000,
 3930000,
 8500000,
 12500000,
 5274000,
 8060000,
 6506000,
 6910000,
 6910000,
 15690000,
 5610000,
 3395000,
 3146000,
 3620000,
 5500000,
 4938000,
 3818000,
 3497500,
 4680000,
 10650000,
 14040000,
 3706000,
 10650000,
 6170000,
 16332500,
 6730000,
 4378000,
 3610000,
 7850000,
 3818000,
 5386000,
 6968000,
 9360000,
 8500000,
 13450000,
 11000000,
 3610000,
 3818000,
 9360000,
 3370000,
 4210000,
 9000000,
 42000000,
 4725000,
 4490000,
 4515000,
 6730000,
 41600000,
 5834000,
 3146000,
 8610000,
 3706000,
 18720000,
 3640000,
 10400000,
 4725000,
 5050000,
 5610000,
 5250000,
 6825000,
 4410000,
 9240000,
 39210000,
 7850000,
 11700000,
 15600000,
 6090000,
 17680000,
 9450000,
 3675000,
 6825000,
 8820000,
 6032000,
 3360000,
 9880000,
 36750000,
 10400000,
 11025000,
 7850000,
 15600000,
 4368000,
 5200000,
 36750000,
 3675000,
 4725000,
 6240000,
 6825000,
 4095000,
 9048000,
 4680000,
 8820000,
 6090000,
 5610000,
 6240000,
 3570000,
 15600000,
 4200000,
 13520000,
 9660000,
 8320000,
 5460000,
 7280000,
 9048000,
 5200000,
 4200000,
 3885000,
 3848000,
 9360000,
 3675000,
 4500000,
 17850000,
 4784000,
 4160000,
 3150000,
 14560000,
 4200000,
 6240000,
 9450000,
 4992000,
 6448000,
 4500000,
 3952000,
 4680000,
 23920000,
 3640000,
 4784000,
 10290000,
 6240000,
 3150000,
 4200000,
 3328000,
 3885000,
 5720000,
 12600000,
 4992000,
 5720000,
 6240000,
 14560000,
 4200000,
 4200000,
 10920000,
 3150000,
 10500000,
 3885000,
 6448000,
 36750000,
 12600000,
 3150000,
 6760000,
 4680000,
 4680000,
 6300000,
 4515000,
 17680000,
 10400000,
 5928000,
 3780000,
 13520000,
 4784000,
 6090000,
 4620000,
 5200000,
 3675000,
 26000000,
 4680000,
 7072000,
 5200000,
 14560000,
 3150000,
 3885000,
 4992000,
 3640000,
 10500000,
 4160000,
 11210000,
 8400000,
 6032000,
 6760000,
 4200000,
 26000000,
 4680000,
 3675000,
 3744000,
 10400000,
 15750000,
 4725000,
 5985000,
 8610000,
 8925000,
 8528000,
 5775000,
 3952000,
 5200000,
 8925000,
 4680000,
 3780000,
 11232000,
 3120000,
 5200000,
 4935000,
 14700000,
 5565000,
 23920000,
 5616000,
 3328000,
 4515000,
 3150000,
 5250000,
 3640000,
 5200000,
 18375000,
 6825000,
 6968000,
 6720000,
 3885000,
 3832500,
 17850000,
 15600000,
 10400000,
 4680000,
 7280000,
 6825000,
 6615000,
 7072000,
 15600000,
 3328000,
 3650000,
 7560000,
 4200000,
 10192000,
 4200000,
 4160000,
 4992000,
 5200000,
 8320000,
 33280000,
 10400000,
 4680000,
 3675000,
 13520000,
 3328000,
 15600000,
 3150000,
 4095000,
 3360000,
 11550000,
 3675000,
 5200000,
 6300000,
 4515000,
 9360000,
 13520000,
 11440000,
 3675000,
 36750000,
 7140000,
 4472000,
 26000000,
 12480000,
 8320000,
 4200000,
 5250000,
 4515000,
 4160000,
 11232000,
 13520000,
 3045000,
 3150000,
 10400000,
 3016000,
 13520000,
 23920000,
 6032000,
 3150000,
 6300000,
 8320000,
 24150000,
 3675000,
 9360000,
 4725000,
 52000000,
 5200000,
 3465000,
 13520000,
 4576000,
 3150000,
 5250000,
 9660000,
 7035000,
 3465000,
 4576000,
 4515000,
 15600000,
 4680000,
 42000000,
 4472000,
 3885000,
 16800000,
 3675000,
 3150000,
 10400000,
 14560000,
 14560000,
 4200000,
 7140000,
 4095000,
 3360000,
 11440000,
 4472000,
 6394000,
 4160000,
 13650000,
 5720000,
 4160000,
 14560000,
 12480000,
 6300000,
 4472000,
 5250000,
 13000000,
 5200000,
 15750000,
 3885000,
 7875000,
 3570000,
 4725000,
 4160000,
 5985000,
 15750000,
 3744000,
 3570000,
 4410000,
 5250000,
 12480000,
 7290000,
 3990000,
 8112000,
 5250000,
 9360000,
 6090000,
 5616000,
 4490000,
 3045000,
 6300000,
 4200000,
 5610000,
 3150000,
 3328000,
 6170000,
 4680000,
 5775000,
 4200000,
 5408000,
 5565000,
 6615000,
 6760000,
 5200000,
 7245000,
 11550000,
 4888000,
 8528000,
 3395000,
 8715000,
 3045000,
 6090000,
 58800000,
 15750000,
 4784000,
 5408000,
 5250000,
 5565000,
 3432000,
 3432000,
 3045000,
 4725000,
 3675000,
 4160000,
 30450000,
 6394000,
 4266000,
 5720000,
 22410000,
 6240000,
 5565000,
 3675000,
 4680000,
 3885000,
 18826000,
 3780000,
 12600000,
 3255000,
 4200000,
 4200000,
 3432000,
 12480000,
 4410000,
 5610000,
 5775000,
 4610000,
 6300000,
 4680000,
 3150000,
 3045000,
 3990000,
 6825000,
 7350000,
 23920000,
 5200000,
 4410000,
 6552000,
 5720000,
 5200000,
 58800000,
 7280000,
 4200000,
 5250000,
 3150000,
 5720000,
 19760000,
 16810000,
 5050000,
 10400000,
 11440000,
 4160000,
 5880000,
 6448000,
 5610000,
 12075000,
 6760000,
 3175000,
 3360000,
 15600000,
 8840000,
 14352000,
 5386000,
 26000000,
 3150000,
 5775000,
 4788000,
 4490000,
 4410000,
 14560000,
 4725000,
 3255000,
 18375000,
 7280000,
 7280000,
 4410000,
 4725000,
 10400000,
 5720000,
 4266000,
 3536000,
 4725000,
 4368000,
 3465000,
 5200000,
 5775000,
 10090000,
 7280000,
 4266000,
 7350000,
 3150000,
 3465000,
 6300000,
 4200000,
 3536000,
 3255000,
 5460000,
 5775000,
 46800000,
 5720000,
 5616000,
 3120000,
 4200000,
 6300000,
 5775000,
 4200000,
 10090000,
 13650000,
 3150000,
 5355000,
 7350000,
 21000000,
 11025000,
 3360000,
 3594000,
 14352000,
 5250000,
 8295000,
 8840000,
 16275000,
 3990000,
 3952000,
 3675000,
 9450000,
 4368000,
 7176000,
 3640000,
 3640000,
 3360000,
 7280000,
 10500000,
 6240000,
 3360000,
 4160000,
 20500000,
 4200000,
 3150000,
 5386000,
 4095000,
 5565000,
 4725000,
 3536000,
 16275000,
 4725000,
 3640000,
 12480000,
 3930000,
 3370000,
 4714000,
 4160000,
 3990000,
 3150000,
 9866000,
 6300000,
 3360000,
 7280000,
 9866000,
 6136000,
 5408000,
 3990000,
 3360000,
 4160000,
 8320000,
 3675000,
 3150000,
 3594000,
 4042000,
 3640000,
 3990000,
 3465000,
 26250000,
 9984000,
 3328000,
 6760000,
 5250000,
 12600000,
 4938000,
 3150000,
 7800000,
 6240000,
 14700000,
 3045000,
 3536000,
 7350000,
 5250000,
 5200000,
 5225000,
 3675000,
 5250000,
 3744000,
 6300000,
 3990000,
 4770000,
 41600000,
 12480000,
 4690000,
 6240000,
 5250000,
 4200000,
 13650000,
 8400000,
 5880000,
 7280000,
 4410000,
 3465000,
 7592000,
 5250000,
 4410000,
 4200000,
 3360000,
 6448000,
 12600000,
 3952000,
 5250000,
 3255000,
 3150000,
 5200000,
 3465000,
 15600000,
 8900000,
 3675000,
 8112000,
 5775000,
 2310000,
 6240000,
 5200000,
 6760000,
 24150000,
 5250000,
 12600000,
 3150000,
 4725000,
 4042000,
 3120000,
 3450000,
 5720000,
 5565000,
 15690000,
 4620000,
 4264000,
 14352000,
 8410000,
 9880000,
 4200000,
 6090000,
 7280000,
 3432000,
 18375000,
 4410000,
 6730000,
 3360000,
 5250000,
 3930000,
 3952000,
 3120000,
 10400000,
 4410000,
 11210000,
 4992000,
 3465000,
 5096000,
 3937500,
 5250000,
 3465000,
 3150000,
 3150000,
 4056000,
 5200000,
 4992000,
 6760000,
 4992000,
 3712800,
 3255000,
 3570000,
 3675000,
 9391200,
 3465000,
 4160000,
 5250000,
 4410000,
 3255000,
 6090000,
 18375000,
 3675000,
 4160000,
 4160000,
 5775000,
 4576000,
 4714000,
 3465000,
 12600000,
 4992000,
 7875000,
 4160000,
 3360000,
 4770000,
 11210000,
 32550000,
 3990000,
 3675000,
 4200000,
 7280000,
 10400000,
 9880000,
 4992000,
 4620000,
 8320000,
 4714000,
 3360000,
 7800000,
 6090000,
 6090000,
 7280000,
 4888000,
 3465000,
 3255000,
 15600000,
 4200000,
 4576000,
 15000000,
 5162000,
 4680000,
 3370000,
 3952000,
 5162000,
 15000000,
 3675000,
 9360000,
 3150000,
 4576000,
 3465000,
 4160000,
 3570000,
 5565000,
 3848000,
 3675000,
 7280000,
 9391200,
 3700000,
 15600000,
 7280000,
 4410000,
 8970000,
 4160000,
 6760000,
 3640000,
 4992000,
 3360000,
 4725000,
 5512000,
 4680000,
 3465000,
 9975000,
 3360000,
 3640000,
 7904000,
 3744000,
 4400000,
 8840000,
 5824000,
 3328000,
 5460000,
 4410000,
 5610000,
 4830000,
 8320000,
 5200000,
 7904000,
 3930000,
 12075000,
 6300000,
 10920000,
 4725000,
 3930000,
 5775000,
 3328000,
 3885000,
 4160000,
 7875000,
 3744000,
 8840000,
 6240000,
 3832500,
 8400000,
 4830000,
 4938000,
 4160000,
 5200000,
 3640000,
 12075000,
 3150000,
 3224000,
 3150000,
 3328000,
 5250000,
 3930000,
 4680000,
 6864000,
 6800000,
 8925000,
 3150000,
 3432000,
 4200000,
 3744000,
 3780103,
 8400000,
 5200000,
 15690000,
 5946000,
 3885000,
 9450000,
 5565000,
 7875000,
 9450000,
 3675000,
 3328000,
 6240000,
 4725000,
 4160000,
 4200000,
 3150000,
 4680000,
 4160000,
 15690000,
 3640000,
 8320000,
 4725000,
 15225000,
 9360000,
 3328000,
 4160000,
 3640000,
 11210000,
 5775000,
 3952000,
 3432000,
 19760000,
 3640000,
 5565000,
 5250000,
 3990000,
 14010000,
 5250000,
 4462500,
 3640000,
 8400000,
 3640000,
 3328000,
 3675000,
 9672000,
 3675000,
 5645000,
 3150000,
 3588000,
 37440000,
 3307500,
 9582500,
 10175000,
 3150000,
 17850000,
 5946000,
 3120000,
 6090000,
 6510000,
 3780000,
 4042000,
 3120000,
 2392000,
 2193750,
 8400000,
 3952000,
 3150000,
 19760000,
 5610000,
 3016000,
 3848000,
 3360000,
 3885000,
 5775000,
 3150000,
 3016000,
 4992000,
 7350000,
 3675000,
 5162000,
 3432000,
 14700000,
 3640000,
 3675000,
 3640000,
 8400000,
 3675000,
 8746000,
 6300000,
 3536000,
 3675000,
 5310000,
 3675000,
 4200000,
 3937500,
 3370000,
 3640000,
 7350000,
 3675000,
 2475000,
 10500000,
 4992000,
 3016000,
 4725000,
 3120000,
 14560000,
 3675000,
 3360000,
 3045000,
 3150000,
 9450000,
 3570000,
 14010000,
 7350000,
 3885000,
 17850000,
 8400000,
 8840000,
 3432000,
 3570000,
 2520000,
 4200000,
 4745000,
 5250000,
 3848000,
 3675000,
 2100000,
 8840000,
 5310000,
 3370000,
 3640000,
 3560000,
 4472000,
 1680000,
 3328000,
 3370000,
 1995000,
 3224000,
 3885000,
 2048400,
 3570000,
 3150000,
 3675000,
 3885000,
 3675000,
 2810000,
 4576000,
 5720000,
 12600000,
 6730000,
 5625000,
 10500000,
 4992000,
 4160000,
 2100000,
 3150000,
 6730000,
 2810000,
 2193750,
 2045000,
 3255000,
 9450000,
 14175000,
 2048400,
 3120000,
 3120000,
 3952000,
 4160000,
 2100000,
 2912000,
 5880000,
 15600000,
 2835000,
 4472000,
 12600000,
 3640000,
 4266000,
 3150000,
 4576000,
 3885000,
 5736000,
 2625000,
 2100000,
 1462500,
 12375000,
 2100000,
 7280000,
 10500000,
 5050000,
 3990000,
 4160000,
 4725000,
 7850000,
 4266000,
 17930000,
 2100000,
 11550000,
 3045000,
 2625000,
 2835000,
 4935000,
 3224000,
 6730000,
 2625000,
 2940000,
 7280000,
 6775000,
 17930000,
 6730000,
 2586000,
 3675000,
 ...]

In [15]:
#assign new_price back to price column
car_df['Price']= new_price
car_df['Price'].dtype

dtype('int64')

##  What is the most expensive Automatic car (show car name and model make) with a mileage of less than 50000.

In [26]:
#The code shows the price of the most expensive automatic car with mileage less than 50000 
car_df.query('Transmission == "Automatic" & Mileage < 50000')['Price'].max()

58800000

In [35]:
# Returning the car name and model make with the price of 58800000
car_df.query('Price== 58800000')[['Make','Transmission','Build']]

              Make Transmission Build
377  Mercedes-Benz    Automatic   SUV
424  Mercedes-Benz    Automatic   SUV

## Which car make has the highest average price?

In [80]:
car_mean=car_df.pivot_table(index='Make',values='Price')#returns the mean price of  each car make
mask= (car_mean==car_mean.to_numpy().max()).any(1)#Check whether each element is equal to the maximum value of its column
res=car_mean[mask]#filters the car_mean dataframe to return row with the maximum price
res

           Price
Make
Tata  17850000.0

## Select the row with a price at the 76th percentile score.

In [73]:
#The price at the 76th percentile
car_df['Price'].quantile(0.76)

4770000.0

In [71]:
#the rows with the 76th percentile
car_df.query('Price == 4770000')

,Unnamed:_0,Make,Year_of_manufacture,Condition,Mileage,Engine_Size,Fuel,Transmission,Price,Build
576,576,Buick,0.0,None,55388.0,NaN,NaN,Automatic,4770000,NaN
679,679,Buick,0.0,None,55388.0,NaN,NaN,Automatic,4770000,NaN